<template>
  <v-app>
    <div class="backgruond-footer"></div>
    <v-main class="d-flex justify-center align-center background-footer">
      <v-col cols="10" lg="4" class="mx-auto">
        <v-card class="pa-4">
          <div class="text-center">
            <v-avatar size="100" color="grey lighten-1">
              <v-icon size="40" color="black">mdi-account</v-icon>
            </v-avatar>
            <h2 class="black--text">เข้าสู่ระบบ</h2>
          </div>
          <v-form ref="form">
            <v-card-text>
              <v-text-field
                v-model="email"
                :rules="emailRules"
                type="email"
                label="Email"
                placeholder="Email"
                prepend-inner-icon="mdi-account"
                required
              />
              <v-text-field
                v-model="password"
                :rules="passwordRules"
                :type="passwordShow ? 'text' : 'password'"
                label="Password"
                placeholder="Password"
                prepend-inner-icon="mdi-key"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                required
              />
              <v-switch label="จดจำรหัสผ่าน" color="grey darken-4"></v-switch>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn :loading="loading" type="submit" color="black">
                <span class="white--text px-8"
                  ><a href="./views/Main.vue">เข้าสู่ระบบ</a></span
                >
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-main>
    <div class="background-footer"></div>
    <v-snackbar top color="green" v-model="snackbar">
      Login success
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    loading: false,
    snackbar: false,
    passwordShow: false,
    email: "",
    emailRules: [
      (v) => !!v  ||"E-mail is required",
      (v) => /.+@.+..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length >= 6)  ||"Password must be 6  characters or more!",
    ],
  }),
  methods: {
    submitHandler() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.snackbar = true;
        }, 3000);
      }
    },
  },
};
</script>
<style>
.backgruond {
  background-image: url(./assets/buu1.png) !important;
  height: 300px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-size: cover;
}
.background-footer {
  /* background-image: url(./assets/img11.png) !important; */
  background-color: white;
  height: 100%;
  width: 100%;
  display: block;
  position: bottom;
  top: 0;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* }.background-mid{
  background-color :#FFEE58;
      height: 50%;
  width: 100%;
  display: block;
  position: top;
  top: 0;
  background-size: cover;
} */
</style>
